<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/restaurants/index.css">
<link rel="stylesheet" href="/stylesheets/restaurants/new.css">
<link rel="stylesheet" href="/stylesheets/cooks/edit.css">
<%- include('../partials/nav') %>

<main>
  <h1>Edit My Info</h1>
  <a href="/cooks/<%= profile._id %>">
    <button id="cancel-btn">Cancel</button>
  </a>
<form id="edit-form" action="/cooks/<%= profile._id %>?_method=PUT" method="POST">
  <div>
    <label for="profile-location">Location:</label>
    <input type="text" name="location" id="location-input" autocomplete="off" value="<%= profile.location%>" placeholder="NYC">
  </div>
  <div>
    <label for="years-select">Experience:</label>
    <select name="years" id="years-select">
    <option value="<%= profile.years %>"><%= profile.years %> </option>
    <option value="1 -2 years">1 -2 years</option>
    <option value="2 - 4 years">2 - 4 years</option>
    <option value="5+ years">5+ years</option>
    <option value="10+ years">10+ years</option>
    </select>
  </div>
  <div><button type="submit" id="btn">Update Info</button></div>
</form>
</main>

<%- include('../partials/footer') %>
