<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Edit My Info</h1>
  <a href="/cooks/<%= profile._id %>">
    <button>Cancel</button>
  </a>
<form id="edit-form" action="/cooks/<%= profile._id %>?_method=PUT" method="POST">
  <label for="profile-location">Location:</label>
  <input type="text" name="location" id="location-input" autocomplete="off" value="<%= profile.location%> ">
  <label for="years-select">Years in Industry:</label>
  <select name="years" id="years-select">
    <option value="<%= profile.years %> "><%= profile.years %> </option>
    <option value="1 -2 years">1 -2 years</option>
    <option value="2 - 4 years">2 - 4 years</option>
    <option value="5+ years">5+ years</option>
    <option value="10+ years">10+ years</option>
  </select>
  <button type="submit">Update Info</button>
</form>
</main>

<%- include('../partials/footer') %>
