<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <img 
    src="<%= profile.avatar %>" 
    alt="<%= profile.name %>'s profile"
    />
    <% } else { %>
      <img 
      src="/images/user.png" 
      alt="placeholder avatar"
      >
      <% } %>
  <h1><%= profile.name %></h1>
  <% if (isSelf) {%>
    <form 
    action="/cooks/<%= profile._id %>/edit" 
    method="GET" 
    style="display: inline-block;"
    >
      <button>Edit My Info</button>
    </form>
    <% } %>  
  <h2><%= profile.location %> </h2>
  <h2><%= profile.years %> </h2>
  <div id="restaurant-list">
    <% restaurants.forEach(restaurant => { %>
      <%= restaurant.createdAt.toString().slice(0, 10) %> 
      <%= restaurant.name %> 
      <%= restaurant.location %> 
    <% }) %> 
  </div>
  <div id="review-list">
    <% reviews.forEach(review => { %>
      <%= review.createdAt.toString().slice(0, 10) %> 
      <%= review.content %> 
      <%= review.ratings %> 
    <% }) %> 
  </div>


</main>

<%- include('../partials/footer') %>
