<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cooks/show.css">
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <img 
    src="<%= profile.avatar %>" 
    alt="<%= profile.name %>'s profile"
    />
    <% } else { %>
      <img 
      src="/images/user.png" 
      alt="placeholder avatar"
      >
      <% } %>
  <h1><%= profile.name %></h1>
  <% if (isSelf) {%>
    <form 
    action="/cooks/<%= profile._id %>/edit" 
    method="GET" 
    style="display: inline-block;"
    >
      <button class="btn">Edit My Info</button>
    </form>
    <% } %>  
  <h2 class="location"><%= profile.location %> </h2>
  <h2 class="years"><%= profile.years %> </h2>
  <div class="container">
    <div class="restaurant-list">
      <h2>Restaurants Added:</h2>
      <% restaurants.forEach(restaurant => { %>
        <div class="date"><%= restaurant.createdAt.toString().slice(0, 10) %></div>
        <%= restaurant.name %> 
        <%= restaurant.location %> 
      <% }) %> 
    </div>
    <div class="review-list">
      <h2>Restaurants Reviewed:</h2>
      <% reviews.forEach(review => { %>
        <div><%= review.createdAt.toString().slice(0, 10) %></div>
        <div class="rate"><%= review.restaurant.name %></div> 
        <div class="rate">Rating: <%= review.ratings %></div> 
        <div><%= review.content %></div>
          <hr>
        <% }) %> 
    </div>
  </div>


</main>

<%- include('../partials/footer') %>
