<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Edit Restaurant</h1>
  <a href="/restaurants/<%= restaurant._id %>">
    <button>Cancel</button>
  </a>
<form id="edit-form" action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST">
  <div>
    <label for="restaurant-input">Restaurant Name:</label>
    <input type="text" name="name" id="restaurant-input" autocomplete="off" value="<%= restaurant.name %>">
  </div>
  <div>
    <label for="location-input">Location:</label>
    <input type="text" name="location" id="location-input" autocomplete="off" value="<%= restaurant.location%> ">
  </div>
  <div>
    <label for="cuisine-input">Cuisine:</label>
    <input type="text" name="cuisine" id="cuisine-input" autocomplete="off" value="<%= restaurant.cuisine %>">
    <button type="submit">Edit Restaurant</button>
  </div>  
</form>
</main>

<%- include('../partials/footer') %>
