<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/restaurants/index.css">
<link rel="stylesheet" href="/stylesheets/restaurants/new.css">
<%- include('../partials/nav') %>

<main>
  <h1>Edit Restaurant</h1>
  <a href="/restaurants/<%= restaurant._id %>">
    <button id="cancel-btn">Cancel</button>
  </a>
<form id="edit-form" action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST">
  <div>
    <label for="restaurant-input">Restaurant Name:</label>
    <input type="text" name="name" id="restaurant-input" autocomplete="off" placeholder="<%= restaurant.name %>">
  </div>
  <div>
    <label for="location-input">Location:</label>
    <input type="text" name="location" id="location-input" autocomplete="off" placeholder="<%= restaurant.location%> ">
  </div>
  <div>
    <label for="cuisine-input">Cuisine:</label>
    <input type="text" name="cuisine" id="cuisine-input" autocomplete="off" placeholder="<%= restaurant.cuisine %>">
  </div>
  <div>
    <button type="submit" id="btn">Edit Restaurant</button>
  </div>
</form>
</main>

<%- include('../partials/footer') %>
