<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/restaurants/index.css">
<%- include('../partials/nav') %>

<main>
  <h1>Restaurants</h1>
  <a href="/restaurants/new"><button type="submit">Add Restaurant</button></a>
  <% if (restaurants.length) { %>
    <table>
      <thead>
        <tr>
          <th>Restaurant</th>
          <th>Location</th>
          <th>Ratings</th>
        </tr>
      </thead>
      <tbody>
        <% restaurants.forEach(restaurant => { %>
          <tr>
            <td><a href="/restaurants/<%= restaurant._id %>"><%= restaurant.name %></a></td>
            <td><%= restaurant.location %> </td>

            <% if (restaurant.reviews.length) { %>
              <% let total = 0 %> 
              <% restaurant.reviews.forEach(review => { %>
                <% total += review.ratings %> 
                <%}) %> 
                <td><%= (total/restaurant.reviews.length).toFixed(1) %></td>
            <% } else { %>
              <td>No Ratings Yet</td>
            <% } %> 
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else {%>
    <h3>No Restaurants Have Been Added Yet</h3>
    <% } %> 
</main>

<%- include('../partials/footer') %>
