<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Welcome, <%= user ? `Chef ${user.profile.name}` : "Chef" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
  <% if (restaurants.length) { %>
    <table>
      <thead>
        <tr>
          <th>Restaurant</th>
          <th>Location</th>
          <th>Ratings</th>
        </tr>
      </thead>
      <tbody>
        <% restaurants.forEach(restaurant => { %>
          <tr>
            <td><%= restaurant.name %> </td>
            <td><%= restaurant.location %> </td>
            <td><%= restaurant.reviews.ratings %> </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else {%>
    <h3>No Restaurants Have Been Added Yet</h3>
    <% } %> 
</main>

<%- include('../partials/footer') %>
