<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Reviewed Restaurants</h1>
  <a href="/restaurants/new"><button type="submit">Add Restaurant</button></a>
  <% if (restaurants.length) { %>
    <table>
      <thead>
        <tr>
          <th>Restaurant</th>
          <th>Location</th>
          <th>Ratings</th>
        </tr>
      </thead>
      <tbody>
        <% restaurants.forEach(restaurant => { %>
          <tr>
            <td><a href="/restaurants/<%= restaurant._id %>"><%= restaurant.name %></a></td>
            <td><%= restaurant.location %> </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else {%>
    <h3>No Restaurants Have Been Added Yet</h3>
    <% } %> 
</main>

<%- include('../partials/footer') %>
