<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1><%= restaurant.name %> </h1>
<h2><%= restaurant.location %> </h2>
<h2><%= restaurant.cuisine %> </h2>
<section>
  
</section>
</main>

<%- include('../partials/footer') %>
