<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1><%= restaurant.name %></h1>
<% if (restaurant.createdBy.equals(user?.profile._id)) { %>
  <form action="/restaurants/<%= restaurant._id %>/edit" method="GET">
  <button type="submit" class="btn">Edit</button></form>

  <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
  <button type="submit" class="btn">Delete</button></form>
  
<% } %>
<h2><%= restaurant.location %> </h2>
<h2><%= restaurant.cuisine %> </h2>
<section>
  
</section>
</main>

<%- include('../partials/footer') %>
