<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% let average %> 
<%# if (restaurant.createdBy.equals(user?.profile._id)) { %>
  <form action="/restaurants/<%= restaurant._id %>/edit" method="GET">
  <button type="submit" class="btn">Edit</button></form>

  <form action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
  <button type="submit" class="btn">Delete</button></form>
  
<%# } %>
<h2><%= restaurant.location %> </h2>
<h2><%= restaurant.cuisine %> </h2>
<section>
  <form 
  action="/restaurants/<%= restaurant._id %>/reviews"
  id="add-review-form"
  method="POST"
  >
  <label for="content-textarea">Review</label>
  <textarea name="content" id="content-textarea"></textarea>
  <label for="rating-select">Rating</label>
  <select name="ratings" id="rating-select">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  <button type="submit">Add Review</button>
  </form>
  <% if (restaurant.reviews.length) { %>
    <% let total = 0 %> 
    <% restaurant.reviews.forEach(review => { %>
      <div>
        <% total += review.ratings %> 
        <%= review.createdAt.toString().slice(0, 10)%> 
        <%= restaurant.createdBy.name%> 
        <%= review.ratings %>
        <form action="/restaurants/<%= restaurant._id %>/reviews/<%= review._id %>" method="GET">
          <button>Edit</button>
        </form>
        <form action="/restaurants/<%= restaurant._id %>/reviews/<%= review._id %>?_method=DELETE" method="GET">
          <button>Delete</button>
        </form>
          
          <%= review.content %>
      </div>
      <% }) %>
      <% average = (total/restaurant.reviews.length).toFixed(1) %> 
      <% } else { %>
        <h2>No Reviews Yet</h2>
        <% } %>
        <% if (user) { %>
          <form action=""></form>
        <% } %> 
</section>
<h1 id="restaurant-name"><%= restaurant.name %> <%= average %></h1>
</main>

<%- include('../partials/footer') %>